{
	"singleQuote": false,
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-css-order"]
}
